ansible==2.9.20
appdirs==1.4.3
asn1crypto==0.24.0
bcrypt==3.1.4
btrfsutil==1.0.0
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
docutils==0.14
git-review==1.26.0
idna==2.7
isc==2.0
Jinja2==2.10
Kivy==1.10.1
MarkupSafe==1.0
meld==3.19.0
packaging==17.1
paramiko==2.4.1
ply==3.11
pulsemixer==1.4.0
pyasn1==0.4.3
pycairo==1.17.0
pycparser==2.18
pycrypto==2.6.1
pygame==1.9.4
pygobject==3.28.3
PyNaCl==1.2.1
pyparsing==2.2.0
PyYAML==3.13
requests==2.19.1
six==1.11.0
ufw==0.35
urllib3==1.23
virtualenv==16.0.0
